.odd{
    background-color: rgb(255, 134, 134);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

.odd.third{
    font-size: 24px;
}

#fourth{
    font-size: 24px;
    font-weight: bold;
}

#second{
    color: rgb(0, 0, 255);
    font-size: 36px;
}